{% extends 'brahma/base.html' %}
{% load i18n %}
{% block title %}Közösségek{% endblock title %}
{% block content %}
  <h1 class="h1 mb-3">Közösségek</h1>
  <a href="{% url "create-community" %}" class="btn btn-outline-primary">{% trans "Hozzáadás" %}</a>
  <ul class="list-group my-2">
    {% for obj in object_list %}
      <li class="list-group-item rounded-1 my-2">
      <h5 class="mb-2"><a href="{{ obj.get_absolute_url }}" class="stretched-link text-decoration-none">{{ obj }}</a></h5>
        <div class="">
          <span>{{ obj.location }}</span>
          <span class="float-end">{{ obj.founded.year }}</span>
        </div>
      </li>
    {% empty %}
      {% trans "No communities at the moment" %}
    {% endfor %}
  </ul>
{% endblock %}

