{% extends 'brahma/base.html' %}
{% load i18n %}
{% block title %}{{ object.name }}{% endblock title %}
{% block page_header %}
  {{ object.name }}
  <a href="#" class="btn btn-outline-primary disabled mx-3" aria-disabled="true">
    {% trans "Message" %}
  </a>
{% endblock page_header %}
{% block content %}
  {% if request.user in object.get_admins %}
  <a href="#" class="btn btn-outline-primary mx-3">
    {% trans "Edit" %}
  </a>
  
  {% else %}{% endif %}
  <h3 class="h3">{% trans "Members" %}</h3>
  <ul class="list-group my-3 ms-3">
    {% for ms in object.get_memberships %}
      <li class="list-group-item rounded-3 my-2">
        {% include 'entities/entity_item.html' with obj=ms.member type=ms.get_membership_type_display %}
      </li>
    {% empty %}
      {% trans "No members at the moment" %}
    {% endfor %}
  </ul>

{% endblock %}

