{% extends 'brahma/base.html' %}
{% load i18n %}
{% block title %}Közösségek{% endblock title %}
{% block content %}
  <h1 class="h1 mb-3">Közösségek</h1>
  <a href="{% url "create-community" %}" class="btn btn-outline-primary">{% trans "Létrehozás" %}</a>
  <ul class="list-group my-2">
    {% for obj in object_list %}
      <li class="list-group-item rounded-3 my-2">
        {% include 'entities/entity_item.html' with obj=obj %}
      </li>
    {% empty %}
      {% trans "No items to show" %}
    {% endfor %}
  </ul>
{% endblock %}

