{% extends 'brahma/base.html' %}
{% load i18n %}
{% block title %}{{ object.name }}{% endblock title %}
{% block content %}
  <h1 class="h1 mb-3">{{ object.name }}</h1>
  <a href="#" class="btn btn-outline-primary">{% trans "Message" %}</a>
  <h3 class="h3">{% trans "Members" %}</h3>
  <ul class="list-group my-2 ms-3">
    {% for ms in object.get_memberships %}
      <li class="list-group-item">
        {% include 'entities/entity_item.html' with obj=ms.member type=ms.membership_type %}
      </li>
    {% empty %}
      {% trans "No members at the moment" %}
    {% endfor %}
  </ul>

{% endblock %}

