<div class="d-flex vh-5">
    <div class="flex-shrink-0" style="width: 80px; height: 100%">
        <img src="{{ obj.avatar_photo.url|default:'' }}" alt="Kép" class="w-100 h-100 rounded object-fit-scale">
    </div>
    <div class="flex-grow-1 ms-3">
        <div>
            <span class="h5 me-2"><a href="{{ obj.get_absolute_url }}" class="stretched-link text-decoration-none">{{ obj }}</a></span>
            <small>{{ type }}</small>
        </div>
        <span>{{ obj.hometown }}</span>
        <span class="float-end">{{ obj.founded.year }}</span>
    </div>
</div>
