{% extends 'brahma/base.html' %}
{% load i18n %}
{% block title %}Komák{% endblock title %}
{% block content %}
  <h1 class="h1 mb-3">Komák</h1>
  <ul class="list-group my-2">
    {% for obj in object_list %}
      <li class="list-group-item rounded-3 my-2">
      <h5 class="mb-2">
        {{ obj }}
      </h5>
        <div class="">
          <span>{{ obj.hometown }}</span>
          <span class="float-end">{{ obj.founded.year }}</span>
        </div>
      </li>
    {% empty %}
      {% trans "No users at the moment" %}
    {% endfor %}
  </ul>
{% endblock %}

