{% extends 'brahma/base.html' %}
{% load i18n %}
{% include "csrf_token" %}

{% block title %}{% if "profile" in request.path %}Profil{% else %}Regisztráció{% endif %}{% endblock title %}
{% block content %}
  <h1 class="h1 my-3">
    {% if "profile" in request.path %}Profil módosítása - {{ request.user }}{% else %}Regisztráció{% endif %}
  </h1>
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <form method="POST" class="form-floating">
        {% csrf_token %}
        {{ form }}
        <div class="btn-group-sm d-flex justify-content-between mt-2">
          <input type="submit" class="btn btn-outline-success flex-grow-1" value={% trans "Submit" %}>
          {% if "profile" in request.path %}
          <input type="reset" class="btn btn-outline-warning ms-3" value={% trans "Reset" %}>
          {% endif %}
          <button onclick="history.back()" class="btn btn-outline-danger ms-3">{% trans "Cancel" %}</button>
        </div>
      </form>
      
    </div>

  </div>

{% endblock %}

