{% extends 'brahma/base.html' %}
{% load i18n %}


{% block title %}
  {% if "profile" in request.path %}{% trans "Profile" %}
  {% else %}{% trans "Register" %}
  {% endif %}
{% endblock title %}

{% block content %}
  {% url "password_change" as pw_change_url %}
  {% url "send-invitation" as send_inv_url %}

  {% if "register" in request.path and request.user.is_authenticated %}
    {% if reg_open  %}
    <div class="mt-5 alert alert-danger">
      <div>
        {% trans "You are already logged in. If you would like to register another user, please log out first" %}
      </div>
      <a href="{% url "logout" %}?next=/register/" class="btn btn-secondary my-3">{% trans "Log out" %}</a>
    </div>
    {% else %}
    <div class="mt-5 alert alert-danger">
      <div>
        {% trans "You are already logged in. You can send an invitation to a friend here:" %}
      </div>
      <a href="{% url "send-invitation" %}" class="btn btn-secondary my-3">{% trans "Send invitation" %}</a>
    </div>
    {% endif %}

  {% else %}
    <div class="h3 my-3">
      {% if "profile" in request.path %}{% trans "Edit profile" %} - {{ request.user }}
      {% else %}{% trans "Register" %}{% endif %}
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-6">
        {% if reg_open  %}
          <form method="POST" class="form-floating">
            {% csrf_token %}
            <input type="hidden" name="inv_id" value="{{ request.GET.iid }}">
            {{ form }}
            <div class="btn-group-sm d-flex justify-content-between mt-2">
              <input type="submit" class="btn btn-outline-success flex-grow-1" value={% trans "Submit" %}>
              {% if "profile" in request.path %}
                <input type="reset" class="btn btn-outline-warning ms-3" value={% trans "Reset" %}>
                <button onclick="history.back()" class="btn btn-outline-danger ms-3">{% trans "Cancel" %}</button>
              </div>
              <div class="my-2">
                {% blocktrans %}Change your password <a href="{{ pw_change_url }}">here</a>{% endblocktrans %}
              </div>
              <div class="my-2">
                {% blocktrans %}Send invitation to a friend <a href="{{ send_inv_url }}">here</a>{% endblocktrans %}
              </div>
              {% else %}
            </div>
            {% endif %}
          </form>
        {% else %}
        <div class="alert alert-secondary my-3" role="alert">{% trans "Registration is only available with a valid invitation at the moment." %}</div>

        {% endif %}        
      </div>

    </div>

  {% endif %}

{% endblock %}

