

$primary: #09865cbb;
$border-radius: .1rem;

body {
    padding-bottom: 3em;
}

.newsfeed-post {
    margin: .5rem;
    border: none!important;
    box-shadow: 0.05rem 0.15rem 0.3rem rgba(black, .25)

}

#main-feed {
    min-height: 70vh;
}

#main-container>div {
    margin-left: auto;
    margin-right: auto;
}

@import "~bootstrap/scss/bootstrap"; // Import all of Bootstrap's CSS
//TODO: individual imports

form.form-bs5>div>input {
    @extend .form-control
}

form.form-bs5>div>label {
    @extend .form-label
}
