{% extends 'brahma/base.html' %}
{% load i18n %}
{% include "csrf_token" %}
{% block title %}{% trans "Password reset" %}{% endblock title %}
{% block content %}
    <div class="h3 my-3">{% trans "Password reset" %}</div>
    <div class="row justify-content-center">
        <div class="col col-md-6">
            <form method="POST" class="form-bs5">
            {% csrf_token %}
            <label for="id_email">{% trans "Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one." %}</label>
            {{ form.as_div }}
            <div class="text-center">
                <input type="submit" class="btn btn-outline-warning mt-3" value="{% trans "Reset password" %}">
            </div>
            </form>
        </div>
    </div>
{% endblock %}

