{% extends 'brahma/base.html' %}
{% load i18n %}
{% include "csrf_token" %}
{% block title %}{% trans "Change password" %}{% endblock title %}
{% block content %}
    <div class="h3 my-3">{% trans "Change password" %}</div>
    <div class="row justify-content-center">
        <div class="col col-md-6">
            <form method="POST" class="form-bs5">
            {% csrf_token %}
            {{ form.as_div }}
            <div class="text-center">
                <input type="submit" class="btn btn-outline-success mt-3" value={% trans "Submit" %}>
            </div>
            </form>
        </div>
    </div>
{% endblock %}

