{% load static %}
<!doctype html>
<html lang="hu">
<head>
    <title id="page-title">{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <script src="{% static "bootstrap.bundle.min.js" %}"></script>

</head>
<body>
<div id="main-container" class="container-fluid p-0">
  {% block nav %}{% include "brahma/nav.html" %}{% endblock nav %}
  <div class="row">
    <div id="content" class="col-12 col-md-8 offset-md-2">
      {% block content %}
      <h1>
          News Feed
      </h1>
      <p id="debug-info"></p>
    </div>
    <div id="post-form" class="col-12 col-md-8 offset-md-2">

    </div>
    <div id="main-feed" class="col-12 col-md-8 offset-md-2">

    </div>
    {% endblock %}
  </div>
{% block footer %}{% include "brahma/footer.html" %}{% endblock footer %}
</div>
</body>
</html>
