{% extends 'brahma/base.html' %}
{% load i18n %}
{% block title %}Főoldal{% endblock title %}
{% block content %}
  <div class="col-12 m-0 fs-1 text-center">
      Ökoközösségek és ökotudatos arcok találkozóhelye
  </div>
  <div class="col-12">
      <div class="h5 my-3">Közösségek</div>
      <div class="text-center text-muted" id="map-container" 
        style="min-height: 50vh; background-image: linear-gradient(white 15%, rgba(55,55,15,0.3));">
          <span>[Térkép helye]</span>
          {% comment %} <iframe src="https://www.google.com/maps/d/embed?mid=1Rws27ynW6UFELCxaL3MqvK8cIA6wt1sO&ehbc=2E312F"></iframe> {% endcomment %}
      </div>
  </div>

{% endblock %}

