<!doctype html>
<html lang="hu">
<head>
    <title id="page-title"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div id="main-container" class="container-fluid p-0">
<div>
  <nav class="navbar navbar-expand-md bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ZöldWeb<span class="badge bg-primary">demo</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" tooltip="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Magyar</a></li>
            <li><a class="dropdown-item" href="#">English</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</div>

<div class="row">
  <div id="main-title" class="col-12 text-center">
    <h1>
        News Feed
    </h1>
    <p id="debug-info"></p>
  </div>
  <div id="post-form" class="col-12 col-md-8 offset-md-2">

  </div>
  <div id="main-feed" class="col-12 col-md-8 offset-md-2">

  </div>
</div>

<nav class="navbar fixed-bottom">
  <div id="footer" class="container-fluid text-center">
    ©_natuReal_Design_
  </div>
</nav>

</div>
</body>
</html>
